<!DOCTYPE html>

{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Instagram</title>
        {% load static %}
        <link href = "{% static 'css/profile.css' %}" rel = "stylesheet" type = "text/css" />
        <link rel = "icon" href="{% static 'img/icon.png' %}">
    </head>

    <body>
        <header>
            <div class = "SSU_likelion_btn">
                <button type = "button" id = "likelionBtn"><img class = "userPhoto" src = "{% static 'img/ssu_likelion_logo_150x150.png' %}" alt = "likelion SSU logo 150 x 150"></button>
            </div>

            <div class = "userInfo">
                <div class="userName"><h1>{{author.username}}</h1>
                <button id = "editProfileBtn">프로필 편집</button>
                </div>

                <div class = "profileInfo">
                    <ul>
                        <li>000 게시물</li>
                        <li>000 팔로워</li>
                        <li>000 팔로잉</li>
                    </ul>
                </div>

                <div class = "profileContents">
                    <p class = "profilePosting">hello world</p>
                </div>
            </div>
        </header>

        <main>
            <img class = "photoPosting" src = "{% static 'img/lionface.png' %}" alt = "photo posting">
            <ul aria-hidden = "true">
                <li>Likes: 0</li>
                <li>Commnets: 0</li>
            </ul>

            <img class = "photoPosting" src = "{% static 'img/lionface.png' %}" alt = "photo posting">
            <ul aria-hidden = "true">
                <li>Likes: 0</li>
                <li>Commnets: 0</li>
            </ul>

            <img class = "photoPosting" src = "{% static 'img/lionface.png' %}" alt = "photo posting">
            <ul aria-hidden = "true">
                <li>Likes: 0</li>
                <li>Commnets: 0</li>
            </ul>
        </main>
    </body>

    {% endblock %}
</html>
